body{
    background-color: #fffbf7;
    background-image: url('https://i.pinimg.com/originals/60/2e/0c/602e0c3cd7ab07d8dfc10ca287323b1e.jpg');
    background-size: cover;
}

h1{
   color: #E88519; 
}

h2{
    color: #46484c;
}

p{
    color: #8b8b8bcc;
}

button{
    background-color: #025157;
    color: #ffffff;
}
